.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 30px;
  }

  p {
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #424242;
    font-size: 20px;
  }
}
