.admin-header-bar {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  align-items: center;

  a {
    background-color: $primaryBackground;
    border: none;
    color: white;
    padding: 40px 0;
    margin: 8px 5px;
    text-align: center;
    width: 250px
  }
}

.admin-logger-text {
  margin: 10px 10px;
}
