Bom dia,
<br><br>
<p>Caro(a) <%= @name %>, o que acha de realizar uma palestra ou mini-curso na 24ª Semana de Tecnologia da Fatec Sorocaba?</p>
<p style="text-align: center;"><img src="https://media.giphy.com/media/26uf6o80xhd6MKGIw/giphy.gif" width="200" height="" alt="alt_text" class="center-on-narrow" style="border: 0;width: 100%;max-width: 300px; background: #dddddd; font-family: sans-serif; font-size: 15px; mso-height-rule: exactly; line-height: 20px; color: #555555;"></p>
<p>Você pode inscrever-se através deste <%= link_to('aqui', @domain) %>.</p>
<p>Esta inscrição é necessária para registrar dados sobre as possiveis palestras e cursos, vendo a disponibilidade e o tema de cada um para uma cuidadosa análise.</p>
Desde já agredecemos pela atenção e aguardamos sua inscrição.<br><br>
Atenciosamente<br>
Comissão organizadora.
