<h2>Olá <%= @speaker.name %></h2>

<p>
  Obrigado para submeter sua proposta!
</p>

<p>
  Use está pagina para editar sua proposta.
</p>

<p>
  Uma cópia deste link foi enviada para seu email.
</p>

<%= render 'form', speaker: @speaker %>
