<h2>Olá <%= @speaker.name %></h2>

<p class="edit-notice">
  Obrigado para submeter sua proposta!
</p>

<p class="edit-notice">
  Use está pagina para editar sua proposta.
</p>

<p class="edit-notice">
  Uma cópia deste link foi enviada para seu email.
</p>

<%= render 'form', speaker: @speaker %>
