<section class="about">
  <h2>Submeta Sua Palestra</h2>
  <p>Gostaria de compartilhar um pouco do seu conhecimento numa palestra ou minicurso na Semana da Tecnologia deste ano? preencha o formulário abaixo e envie-nos sua proposta!</p>
</section>

<h2 class="signup">Palestrante</h2>

<%= render 'form', speaker: @speaker %>
