<section class="about">
  <h2>Submissões encerradas</h2>
  <p>Obrigado por se interessar em enviar uma proposta para a Semana de Tecnologia da Fatec Sorocaba, mas o prazo para submissões acabou.</p>
  <p>Se você ja enviou sua proposta, vamos entrar em contato com mais informações em breve.</p>
</section>
